<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">

    <listeners>
        <listener class-name="com.splashbi.listener.SetAnnotation"/>
        <listener class-name="com.splashbi.listener.RetryListener"/>
        <listener class-name="com.splashbi.report.EmailableCustomReport"/>
    </listeners>
    <test name="Smoke_Test" preserve-order="true">
        <classes>
            <class name="com.splashbi.presanity.admin.Users"/>
            <class name="com.splashbi.presanity.admin.Connectors"/>
            <class name="com.splashbi.presanity.admin.ERPMapping">
                <methods>
                    <include name="createUserMapping" />
                    <include name="importOracleEBSResponsibilities" />
                    <include name="addSResponsibilitiesToUser" />
                </methods>
            </class>
            <class name="com.splashbi.presanity.admin.Setup"/>
            <class name="com.splashbi.presanity.admin.Settings"/>
            <class name="com.splashbi.presanity.domain.Domain"/>
            <class name="com.splashbi.presanity.report.Reports"/>
            <class name="com.splashbi.presanity.dashboard.Dashboard">
                <methods>
                    <include name="createNonEbsChart" />
                    <include name="createDashboard" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
